body{
    background: #d4daf8;
}

.principal{
    background: #000000;
    padding: 30px;
}

.items{
    font-style: italic;
}

.benificios{
    background:#d4daf8;
}

p{
    text-align: center;
    color: #000000;
}

em strong{
    color: #ff0000;
}

div{
    text-align: center;
}