body {
    background: #ffffffcc;
}

.principal {
    background: #fffcfccc;
    padding: 30px;
}

.itens{
    font-style: italic;
}

.beneficios{
    background: #ffffff;
    padding: 30px;
}
h2{
    text-align: center;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20;
    margin-right: 15%;
}
.imgbeneficios{
    width:50%
}
p{
    text-align: center;
}
em strong{
    color: #df0000cc
}
#banner{
    width:00
}
h1{
    text-align: center;
}

#missao{
    font-size: 20px;
}

#titulo-principal{
    padding-left: center;
}